extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        if type=='outer'
          li.nav-item.active
            a.nav-link.active(href='/list?type=outer&orderby='+orderby)
              | 아우터
        else
          li.nav-item
            a.nav-link(href='/list?type=outer&orderby='+orderby)
              | 아우터
        if type=='top'
          li.nav-item.active
            a.nav-link.active(href='/list?type=top&orderby='+orderby)
              | 상의
        else
          li.nav-item
            a.nav-link(href='/list?type=top&orderby='+orderby)
              | 상의
        if type=='pants'
          li.nav-item.active
            a.nav-link.active(href='/list?type=pants&orderby='+orderby)
              | 하의
        else
          li.nav-item
            a.nav-link(href='/list?type=pants&orderby='+orderby)
              | 하의
        if type=='shoes'
          li.nav-item.active
            a.nav-link.active(href='/list?type=shoes&orderby='+orderby)
              | 신발
        else
          li.nav-item
            a.nav-link(href='/list?type=shoes&orderby='+orderby)
              | 신발
        if type=='hat'
          li.nav-item.active
            a.nav-link.active(href='/list?type=hat&orderby='+orderby)
              | 모자
        else
          li.nav-item
            a.nav-link(href='/list?type=hat&orderby='+orderby)
              | 모자
              //if type=='hat'
                span.sr-only (current)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        -console.log(orderby)
        if orderby=='price'
          li.nav-item.active
            a.nav-link.active(href='/list?type='+type+'&orderby=price')
             | 가격순
        else
          li.nav-item
            a.nav-link(href='/list?type='+type+'&orderby=price')
              | 가격순
        if orderby=='sales'
          li.nav-item.active
            a.nav-link.active(href='/list?type='+type+'&orderby=sales')
              | 판매량순
        else
          li.nav-item
            a.nav-link(href='/list?type='+type+'&orderby=sales')
              | 판매량순
        if orderby=='release'
          li.nav-item.active
            a.nav-link.active(href='/list?type='+type+'&orderby=release')
              | 출시일순
        else
          li.nav-item
            a.nav-link(href='/list?type='+type+'&orderby=release')
              | 출시일순
  table(class='table')
    thead
      tr
        //th='#'
        th
          | 이미지
        th
          | 이름
        th
          | 브랜드
        th
          | 성별
        th
          | 시즌
        th
          | 출시일
        th
          | 판매량
        th
          | 가격
        th
          | 사이즈
        th
    -var previd = ''
    each val in list
      if val.iid == previd
        -continue
      -previd = val.iid
      form(action='/add_favorite' method='post')
        tr
          td(width=120)
            img(class='img-thumbnail', width=100, src=val.img)
          td
            =val.name
          td
            =val.brand
          td
            =val.gender
          td
            =val.season
          td
            =val.release_year
          td
            =val.sales_count
          td
            =val.price       
          td
            select(name='size_id')
              each sv in sizeList
                option(value=sv.size_id) 
                  =sv.size_name 
          td
            //input(type='hidden' name='uid' value=userInfo.uid)
            input(type='hidden' name='iid' value=val.iid)
            button.btn.btn-primary(type='submit') 즐겨찾기 추가            

  div.container
    ul.pagination
      -var startPage = parseInt((page-1) / 10) * 10 +1
      if page >= 10
        li.page-item
          a.page-link(href='/list?type='+type+'&page='+(startPage-1)+'&orderby='+orderby) &laquo;
      -for(var i=startPage; i<startPage+10; i++) 
        if i == page
          li.page-item.active
            a.page-link(href='/list?type='+type+'&page='+i+'&orderby='+orderby)
              =i
        else
          li.page-item
            a.page-link(href='/list?type='+type+'&page='+i+'&orderby='+orderby)
              =i
      li.page-item
        a.page-link(href='/list?type='+type+'&page='+(startPage+10)+'&orderby='+orderby) &raquo;
          
